* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #1f2f6b, #0f1b3d);
}

/* Card */
.digital-card {
    margin: 20px;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.35);
}

/* Header */
.card-header {
    /* background: linear-gradient(135deg, #1f2f6b, #243a8f); */
    border-bottom: 5px solid  #1f2f6b;
    padding: 20px 20px;
}

.logo {
    width: 150px;
    height: auto;
}

/* Body */
.card-body {
    padding: 35px 25px;
}

.name {
    font-weight: 600;
    color: #1f2f6b;
    margin-bottom: 5px;
}

.designation {
    color: #777;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Contact box */
.contact-box {
    background: rgba(245, 246, 249, 0.9);
    border-radius: 18px;
    padding: 15px;
    margin-bottom: 25px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 0;
    color: #333;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.contact-item i {
    color: #f5a623;
}

.contact-item:hover {
    color: #1f2f6b;
}

/* Categories */
.category-title {
    background: #f5a623;
    color: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 15px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.categories span {
    background: #f4f6f9;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
}

/* Footer */
.card-footer {
    background: #1f2f6b;
    color: #fff;
    padding: 20px;
}

.card-footer h6 {
    color: #f5a623;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

.card-footer p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    line-height: 1.4;
}